{% extends 'base.html' %}
{% load bootstrap3 %}

{% block titulo_pagina %}
    Recuperar Contraseña
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Recuperar Contraseña
{% endblock titulo_panel %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>¿Olvidó su contraseña?, escriba su correo y le enviaremos un enlace para recuperarla.</p>
            <form action="" method="POST" class="form-horizontal"  id="password-reset-form">{% csrf_token %}
                {% bootstrap_form form %}
                {% bootstrap_button "Enviar" button_type="submit" button_class="btn-primary btn pull-right"%}
            </form>
        </div>
    </div>
{% endblock contenido_panel %}