{% extends 'base.html' %}
{% load bootstrap3 %}

{% block titulo_pagina %}
    Cambio Contraseña
{% endblock titulo_pagina %}

{% block titulo_panel %}
    Cambio Contraseña
{% endblock titulo_panel %}

{% block contenido_panel %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <p>Por favor digite su antigua contraseña, y dos veces la nueva para verificar que la información sea válida</p>
            <form action="" method="POST" class="form-horizontal"  id="rady-form">{% csrf_token %}
                {% bootstrap_form form show_help=False %}

                {% bootstrap_button "Cambiar" button_type="submit" button_class="btn-primary btn pull-right"%}
            </form>
        </div>
    </div>
{% endblock contenido_panel %}

{% block javascript %}
    <script>
        var fields = {
            old_password : {
                validators: {
                    notEmpty : {
                        message : "Este campo no puede ser vacío"
                    }
                }
            },
            new_password1 : {
                validators: {
                    notEmpty : {
                        message : "Este campo no puede ser vacío"
                    },
                    stringLength : {
                        min : 8,
                        message : "La contraseña debe contener al menos 8 caractéres"
                    }
                }
            },
            new_password2 : {
                validators: {
                    notEmpty : {
                        message : "Este campo no puede ser vacío"
                    },
                    identical : {
                        message : "Las contraseñas no coinciden",
                        field : "new_password1"
                    },
                    stringLength : {
                        min : 8,
                        message : "La contraseña debe contener al menos 8 caractéres"
                    }
                }
            }
        }
    </script>
    <script type="text/javascript" src="{% static 'js/validaciones/form-validations.js'%}"></script>
{% endblock javascript %}